body {
    font-family: 'Jost', sans-serif;
    background: black;
    color: white;
}
#container {
    width: 500px;
    height: fit-content;
    border: 2px solid orange;
    border-radius: 10px;  
    margin: 35px;
    padding: 10px;
}

a{
    text-decoration: none;
}